ul {
  list-style-type: none;
}

#cemetary {
  display: none;
}

.clickable {
  cursor: pointer;
}

.dead {
  display: none;
}

.glyphicon-plus {
  color: red;
}

.glyphicon-cutlery {
  color: grey;
}

.med {
  display: none;
}

#deathList {
  font-size: 25pt;
  color: gray;
}
